# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'

    # Note that the session will be started ONLY if you read or write from it.
    session:
        handler_id: null
        cookie_httponly: true
        # Utilisation de la variable d'environnement pour gérer local vs prod
        cookie_secure: '%env(bool:CART_COOKIE_SECURE)%'
        # Indispensable pour autoriser le partage du cookie entre localhost et OVH
        cookie_samesite: none
        # Augmenté à 30 jours pour que tes clients ne perdent pas leur panier trop vite
        cookie_lifetime: 2592000

    #esi: true
    #fragments: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
