nelmio_cors:
  defaults:
    allow_origin: ['http://localhost:3000'] # L’URL de ton frontend
    allow_credentials: true                  # Important pour envoyer les cookies
    allow_methods: ['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS']
    allow_headers: ['Content-Type', 'Authorization']
    expose_headers: ['Link']
    max_age: 3600
  paths:
    '^/api/':
      allow_origin: ['http://localhost:3000'] # Même URL que ci-dessus
      allow_credentials: true
      allow_methods: ['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS']
      allow_headers: ['Content-Type', 'Authorization']
      max_age: 3600
