security:
    
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        # Route spécifique pour le Webhook (SANS JWT)
        stripe_webhook:
            pattern: ^/api/payment/stripe/webhook
            security: false

        login:
            pattern: ^/api/login
            stateless: true
            json_login:
                check_path: /api/login
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/api
            stateless: true
            jwt: ~
            
    access_control:
        # Paiement stripe
        - { path: ^/api/payment/stripe/webhook, roles: PUBLIC_ACCESS }
        # Login
        - { path: ^/api/login, roles: PUBLIC_ACCESS }

        # Protection "Écriture Catalogue" (Back-Office)
        # Personne ne peut Créer/Modifier/Supprimer des produits sans être Admin
        - { path: ^/api/(products|categories|variants), methods: [POST, PUT, PATCH, DELETE], roles: IS_AUTHENTICATED_FULLY }

        # Protection "Données Sensibles" (Clients, Stats)
        - { path: ^/api/(users|stats), roles: IS_AUTHENTICATED_FULLY }